<section>
    <div class="footer">
        <div class = "container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <h6> There other things that makes somebody</h6>
                    <h6> There other things that makes somebody</h6>
                    <h6> There other things that makes somebody</h6>
                    <h6> There other things that makes somebody</h6>
                    <h6>Codding is my hubby</h6>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <h6> There other things that makes somebody</h6>
                    <h6>There are other thinng that mare somebody</h6>
                    <h6>if you doubt me them ask Mr google</h6>
                    <h6>Progrmming is fun</h6>
                    <h6>Codding is my hubby</h6>
                    <h6> There other things that makes somebody</h6>
                    <h6>There are other thinng that mare somebody</h6>
                    <h6>if you doubt me them ask Mr google</h6>
                    <h6>Progrmming is fun</h6>
                    <h6>Codding is my hubby</h6>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <h6> There other things that makes somebody</h6>
                    <h6>There are other thinng that mare somebody</h6>
                    <h6>if you doubt me them ask Mr google</h6>
                    <h6>Progrmming is fun</h6>
                    <h6>Codding is my hubby</h6>
                </div>
            </div>
        </div>  
    </div>
</section>